<nav id="sidebar">
    <div class="sidebar-header text-center  p-3 ">
        <a href="index.html">
            <img class="w-75 " src="images/verve.jpg" alt="logo">
        </a>
        <b class="d-block">National College</b>
        <p class="mb-0">Client ID:&nbsp; <span class="fw-bold"> N-1234</span></p>
        <p>Academic Year:&nbsp; <span class="fw-bold"> 2081</span></p>


        <input type="search" class="form-control rounded-3" placeholder="Search menus">


    </div>
    <ul class="nav ">
        <li class="nav-item">
            <a class="nav-link" href="login.html">
                <img src="images/icons/Change password icon.svg"
                     alt="e-learning"> Login
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link  dropdown-toggle d-flex justify-content-between align-items-center active"
               href="#submenu1" data-bs-toggle="collapse" role="button" aria-expanded="false"
               aria-controls="submenu1">
                <span><img src="images/icons/Online class icon.svg" alt="icon"> Online Class</span>
                <i class="fas fa-angle-left dropdown-icon"></i>
            </a>
            <ul class="collapse list-unstyled ps-3" id="submenu1">
                <li><a class="nav-link" href="start-class.html">Start Class</a></li>
                <li><a class="nav-link" href="report.html">Report</a></li>
                <li><a class="nav-link" href="account-configuration.html">Account Configuration</a></li>
                <li><a class="nav-link" href="configuration.html">Configuration</a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center"
               href="#submenu2" data-bs-toggle="collapse" role="button" aria-expanded="false"
               aria-controls="submenu2">
                <span><img src="images/icons/E-Classroom icon.svg" alt="e-learning"> E-Classroom</span>
                <i class="fas fa-angle-left dropdown-icon"></i>
            </a>
            <ul class="collapse list-unstyled ps-3" id="submenu2">
                <li><a class="nav-link" href="exam.html">Exam</a></li>
                <li><a class="nav-link" href="exam-details.html">Exam Detail</a></li>
                <li><a class="nav-link" href="add-questions-answers.html">Add Questions/Answers</a></li>
                <li><a class="nav-link" href="copy-question-answer.html">Copy Questions/Answers</a></li>
                <li><a class="nav-link" href="list.html">List</a></li>
                <li><a class="nav-link" href="statistics.html">Statistics</a></li>
                <li><a class="nav-link" href="ledger.html">Ledger</a></li>
                <li><a class="nav-link" href="add-category.html">Add Category</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center"
               href="#submenu3" data-bs-toggle="collapse" role="button" aria-expanded="false"
               aria-controls="submenu3">
                <span><img src="images/icons/Website icon.svg" alt="e-learning"> Website</span>
                <i class="fas fa-angle-left dropdown-icon"></i>
            </a>
            <ul class="collapse list-unstyled ps-3" id="submenu3">
                <li><a class="nav-link" href="volunteer.html">Volunteer</a></li>
                <li><a class="nav-link" href="facility-activity.html">Facility/Activity</a></li>
                <li><a class="nav-link" href="news.html">News</a></li>
                <li><a class="nav-link" href="history.html">History</a></li>
                <li><a class="nav-link" href="alumni.html">Alumni</a></li>
                <li><a class="nav-link" href="testimonials.html">Testimonial</a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center"
               href="#submenu4" data-bs-toggle="collapse" role="button" aria-expanded="false"
               aria-controls="submenu4">
                <span><img src="images/icons/Analytics icon.svg" alt="e-learning"> Analytics</span>
                <i class="fas fa-angle-left dropdown-icon"></i>
            </a>
            <ul class="collapse list-unstyled ps-3" id="submenu4">
                <li><a class="nav-link" href="">Monitor Supervisor</a></li>
                <li><a class="nav-link" href="homework.html">Homework</a></li>
                <li><a class="nav-link" href="#">Staff</a></li>
                <li><a class="nav-link" href="online-class-report.html">Online Class Report</a></li>
                <li><a class="nav-link" href="#">Weekly Report</a></li>
                <li><a class="nav-link" href="e-payment-transactions.html">E Payment Transactions</a></li>
                <li><a class="nav-link" href="#">Assignments</a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center"
               href="#submenu5" data-bs-toggle="collapse" role="button" aria-expanded="false"
               aria-controls="submenu5">
                <span><img src="images/icons/Setup icon.svg" alt="e-learning"> Setup</span>
                <i class="fas fa-angle-left dropdown-icon"></i>
            </a>
            <ul class="collapse list-unstyled ps-3" id="submenu5">
                <li><a class="nav-link" href="bus-routes.html">Bus-Routes</a></li>
                <li><a class="nav-link" href="routes-map.html">Routes-Map</a></li>
                <li><a class="nav-link" href="color-setting.html">Color Settings</a></li>
                <li><a class="nav-link" href="launching-image.html">Launching Image</a></li>
                <li><a class="nav-link" href="home.html">Home</a></li>
                <li><a class="nav-link" href="about.html">About</a></li>
                <li><a class="nav-link" href="subject.html">Subjects</a></li>
                <li><a class="nav-link" href="section.html">Section</a></li>
                <li><a class="nav-link" href="program.html">Program</a></li>
                <li><a class="nav-link" href="team-category.html">Team Category</a></li>
                <li><a class="nav-link" href="assignment-category.html">Assignment Category</a></li>
                <li><a class="nav-link" href="calender-category.html">Calendar Category</a></li>
                <li><a class="nav-link" href="calendar.html">Calendar</a></li>

                <li><a class="nav-link" href="calender-event.html">Calendar Evnts-BS</a></li>

                <li><a class="nav-link" href="class-routine.html">Class Routine</a></li>

                <li><a class="nav-link" href="setup-student-group.html">Student Group</a></li>
                <li><a class="nav-link" href="group-class-association.html">Group Class Association</a></li>
                <li><a class="nav-link" href="import-student.html">Import Students</a></li>
                <li><a class="nav-link" href="student-image-bulk-upload.html">Student Image Bulk Upload</a></li>
                <li><a class="nav-link" href="restirict-mobile-feature.html">Restrict Mobile Features</a></li>
                <li><a class="nav-link" href="access-category.html">Access Category</a></li>
                <li><a class="nav-link" href="setup-configuration.html">Configuration</a></li>
                <li><a class="nav-link" href="#">Academic Year</a></li>
                <li><a class="nav-link" href="#">Bank Details</a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center"
               href="#submenu6" data-bs-toggle="collapse" role="button" aria-expanded="false"
               aria-controls="submenu6">
                <span><img src="images/icons/Course plan icon.svg" alt="e-learning"> Course Plan</span>
                <i class="fas fa-angle-left dropdown-icon"></i>
            </a>
            <ul class="collapse list-unstyled ps-3" id="submenu6">
                <li><a class="nav-link" href="teaching-method.html">Teaching Methods</a></li>
                <li><a class="nav-link" href="chapter.html">Cahpters</a></li>
                <li><a class="nav-link" href="course-plan.html">Course Plan</a></li>
                <li><a class="nav-link" href="lession-plan.html">Lesson Plan</a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center"
               href="#submenu7" data-bs-toggle="collapse" role="button" aria-expanded="false"
               aria-controls="submenu7">
                <span><img src="images/icons/students.svg" alt="e-learning"> Students</span>
                <i class="fas fa-angle-left dropdown-icon"></i>
            </a>
            <ul class="collapse list-unstyled ps-3" id="submenu7">
                <li><a class="nav-link" href="student-search.html">Search</a></li>
                <li><a class="nav-link" asp-area="Admin" asp-controller="Student" asp-action="StudentList">Student List</a></li>
                <li><a class="nav-link" href="print-data.html">Print Data</a></li>
                <li><a class="nav-link" href="download-data.html">Download Data</a></li>
                <li><a class="nav-link" href="bulk-edit.html">Bulk Edit </a></li>
                <li><a class="nav-link" href="student-group.html">Student Group</a></li>
                <li><a class="nav-link" href="bus-student.html">Bus Students</a></li>
                <li><a class="nav-link" href="lunch-student.html">Lunch Students</a></li>
                <li><a class="nav-link" href="admit-card.html">Admit Card</a></li>
                <li><a class="nav-link" href="id-card.html">Id Card</a></li>
                <li><a class="nav-link" href="certificate.html">Certificates</a></li>
                <li><a class="nav-link" asp-area="Admin" asp-controller="Student" asp-action="InsertStudent">Add Students</a></li>
                <li><a class="nav-link" href="new-student.html">New Students</a></li>
                <li><a class="nav-link" href="">Left Students</a></li>
                <li><a class="nav-link" href="student-pick-up-resort.html">Student Pick Up Report</a></li>
                <li><a class="nav-link" href="admission-payment.html">Admission Request</a></li>
                <li><a class="nav-link" href="online-registeration.html">Online Registration Request</a></li>
                <li><a class="nav-link" href="admission-payment.html">Adminssion Payments</a></li>
                <li><a class="nav-link" href="">Previous Record</a></li>
                <li><a class="nav-link" href="gender-wise-report.html">Gender Report</a></li>
                <li><a class="nav-link" href="team-report.html">Team Report</a></li>
                <li><a class="nav-link" href="">Id Card Builder</a></li>
                <li><a class="nav-link" href="#">Certificate Builder</a></li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <img src="images/icons/Teacher evaluation icon.svg"
                     alt="e-learning">Students' Evaluation
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><img src="images/icons/Routine icon.svg" alt="e-learning">Routine</a>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center"
               href="#submenu8" data-bs-toggle="collapse" role="button" aria-expanded="false"
               aria-controls="submenu8">
                <span><img src="images/icons/notification icon.svg" alt="e-learning"> Notifications</span>
                <i class="fas fa-angle-left dropdown-icon"></i>
            </a>
            <ul class="collapse list-unstyled ps-3" id="submenu8">
                <li><a class="nav-link" href="#">Suggestion/Apprecia..</a></li>
                <li><a class="nav-link" href="#">Push Notifications</a></li>
                <li><a class="nav-link" href="#">SMS Notifications</a></li>
                <li><a class="nav-link" href="#">Visitors Record</a></li>
                <li><a class="nav-link" href="#">Import Account</a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center"
               href="#submenu9" data-bs-toggle="collapse" role="button" aria-expanded="false"
               aria-controls="submenu9">
                <span><img src="images/icons/QR code.svg" alt="e-learning"> Qr Code</span>
                <i class="fas fa-angle-left dropdown-icon"></i>
            </a>
            <ul class="collapse list-unstyled ps-3" id="submenu9">
                <li><a class="nav-link" href="#">Lunch Attendance</a></li>
                <li><a class="nav-link" href="#">Daily Attendance</a></li>
                <li><a class="nav-link" href="#">Bus Attendance</a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><img src="images/icons/Merit icon.svg" alt="e-learning">Merit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <img src="images/icons/Attendance icon.svg"
                     alt="e-learning">Attendance
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <img src="images/icons/Group attendance icon.svg"
                     alt="e-learning">Group Attendance
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <img src="images/icons/Group attendance icon.svg" alt="e-learning">Bus
                Attendance
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <img src="images/icons/Leave notes icon.svg" alt="e-learning">Leave
                Notes
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><img src="images/icons/Homework icon.svg" alt="e-learning">Homework</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <img src="images/icons/Check homework icon.svg" alt="e-learning">Check
                Homework
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <img src="images/icons/Assignment icon.svg"
                     alt="e-learning">Assignments
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <img src="images/icons/Reading material icon.svg"
                     alt="e-learning">Reading Materials
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center"
               href="#submenu10" data-bs-toggle="collapse" role="button" aria-expanded="false"
               aria-controls="submenu10">
                <span><img src="images/icons/Records icon.svg" alt="e-learning"> Records</span>
                <i class="fas fa-angle-left dropdown-icon"></i>
            </a>
            <ul class="collapse list-unstyled ps-3" id="submenu10">
                <li><a class="nav-link" href="#">Category</a></li>
                <li><a class="nav-link" href="#">Sub Category</a></li>
                <li><a class="nav-link" href="#">Report</a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center"
               href="#submenu11" data-bs-toggle="collapse" role="button" aria-expanded="false"
               aria-controls="submenu11">
                <span><img src="images/icons/Document upload icon.svg" alt="e-learning"> Dcuments Upload</span>
                <i class="fas fa-angle-left dropdown-icon"></i>
            </a>
            <ul class="collapse list-unstyled ps-3" id="submenu11">
                <li><a class="nav-link" href="#">Documents Category</a></li>
                <li><a class="nav-link" href="#">Uploaded Documents</a></li>
                <li><a class="nav-link" href="#">Staff Documents</a></li>

            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <img src="images/icons/Daily report icon.svg" alt="e-learning">Daily
                Report
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center"
               href="#submenu12" data-bs-toggle="collapse" role="button" aria-expanded="false"
               aria-controls="submenu12">
                <span><img src="images/icons/Exam icon.svg" alt="e-learning"> Exams</span>
                <i class="fas fa-angle-left dropdown-icon"></i>
            </a>
            <ul class="collapse list-unstyled ps-3" id="submenu12">
                <li><a class="nav-link" href="#">Add Exam</a></li>
                <li><a class="nav-link" href="#">Print Exam Routine</a></li>
                <li><a class="nav-link" href="#">Add/Edit Marks</a></li>
                <li><a class="nav-link" href="#">Selective Remarks</a></li>
                <li><a class="nav-link" href="#">Selective Remarks List</a></li>
                <li><a class="nav-link" href="#">Statistics</a></li>
                <li><a class="nav-link" href="#">Student Specific Remarks</a></li>
                <li><a class="nav-link" href="#">Manual Attendance</a></li>
                <li><a class="nav-link" href="#">Subject Attendance</a></li>
                <li><a class="nav-link" href="#">Studet Exam Details</a></li>
                <li><a class="nav-link" href="#">Room Allocation Report</a></li>
                <li><a class="nav-link" href="#">All Report Card</a></li>
                <li><a class="nav-link" href="#">Mobile App Setting</a></li>
                <li><a class="nav-link" href="#">Import Results</a></li>
                <li><a class="nav-link" href="#">Migrate Result Subject</a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center"
               href="#submenu13" data-bs-toggle="collapse" role="button" aria-expanded="false"
               aria-controls="submenu13">
                <span><img src="images/icons/Ledgers icon.svg" alt="e-learning"> Ledgers</span>
                <i class="fas fa-angle-left dropdown-icon"></i>
            </a>
            <ul class="collapse list-unstyled ps-3" id="submenu13">
                <li><a class="nav-link" href="#">Detail Ledger</a></li>
                <li><a class="nav-link" href="#">Comparative Ledger</a></li>
                <li><a class="nav-link" href="#">Top-10</a></li>
                <li><a class="nav-link" href="#">Group Ledger</a></li>
                <li><a class="nav-link" href="#">Boarder Students</a></li>
                <li><a class="nav-link" href="#">Failure List</a></li>
                <li><a class="nav-link" href="#">Result Analysis</a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center"
               href="#submenu14" data-bs-toggle="collapse" role="button" aria-expanded="false"
               aria-controls="submenu14">
                <span><img src="images/icons/Exam icon.svg" alt="e-learning"> Group Exam</span>
                <i class="fas fa-angle-left dropdown-icon"></i>
            </a>
            <ul class="collapse list-unstyled ps-3" id="submenu14">
                <li><a class="nav-link" href="#">Import Group Result</a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center"
               href="#submenu15" data-bs-toggle="collapse" role="button" aria-expanded="false"
               aria-controls="submenu15">
                <span>
                    <img src="images/icons/General evaluation icon.svg" alt="e-learning"> General
                    Evaluation
                </span>
                <i class="fas fa-angle-left dropdown-icon"></i>
            </a>
            <ul class="collapse list-unstyled ps-3" id="submenu15">
                <li><a class="nav-link" href="#">Add Objective</a></li>
                <li><a class="nav-link" href="#">Copy Objective</a></li>
                <li><a class="nav-link" href="#">Add/Edit Marks</a></li>
                <li><a class="nav-link" href="#">Manage Entry Marks</a></li>
                <li>
                    <a class="nav-link" href="#">
                        Import Results
                    </a>
                </li>
                <li><a class="nav-link" href="#">GE Result Analysis</a></li>
                <li><a class="nav-link" href="#">Ledger</a></li>
                <li><a class="nav-link" href="#">Top 10</a></li>
                <li><a class="nav-link" href="#">Failure List</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center"
               href="#submenu16" data-bs-toggle="collapse" role="button" aria-expanded="false"
               aria-controls="submenu16">
                <span>
                    <img src="images/icons/General evaluation icon.svg" alt="e-learning"> Class
                    Evaluation
                </span>
                <i class="fas fa-angle-left dropdown-icon"></i>
            </a>
            <ul class="collapse list-unstyled ps-3" id="submenu16">
                <li><a class="nav-link" href="#">Evaluation Areas</a></li>
                <li><a class="nav-link" href="#">Assign Evaluations Areas</a></li>
                <li><a class="nav-link" href="#">Add Evaluation</a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center"
               href="#submenu17" data-bs-toggle="collapse" role="button" aria-expanded="false"
               aria-controls="submenu17">
                <span>
                    <img src="images/icons/General evaluation icon.svg" alt="e-learning"> Teacher's
                    Evaluation
                </span>
                <i class="fas fa-angle-left dropdown-icon"></i>
            </a>
            <ul class="collapse list-unstyled ps-3" id="submenu17">
                <li><a class="nav-link" href="#">Evaluation Areas</a></li>
                <li><a class="nav-link" href="#">Evaluation Categories</a></li>
                <li><a class="nav-link" href="#">Add Questions/Answers</a></li>
                <li><a class="nav-link" href="#">Evaluation Report</a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center"
               href="#submenu18" data-bs-toggle="collapse" role="button" aria-expanded="false"
               aria-controls="submenu18">
                <span><img src="images/icons/CAS icon.svg" alt="e-learning"> CAS</span>
                <i class="fas fa-angle-left dropdown-icon"></i>
            </a>
            <ul class="collapse list-unstyled ps-3" id="submenu18">
                <li><a class="nav-link" href="#">Add Objective</a></li>
                <li><a class="nav-link" href="#">CAS Result</a></li>
                <li><a class="nav-link" href="#">Copy Objective/Question</a></li>
                <li><a class="nav-link" href="#">Import Result</a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center"
               href="#submenu19" data-bs-toggle="collapse" role="button" aria-expanded="false"
               aria-controls="submenu19">
                <span><img src="images/icons/Selective exam.svg" alt="e-learning"> Selective Exam</span>
                <i class="fas fa-angle-left dropdown-icon"></i>
            </a>
            <ul class="collapse list-unstyled ps-3" id="submenu19">
                <li><a class="nav-link" href="#">Add Objective</a></li>
                <li><a class="nav-link" href="#">Copy Objectives</a></li>
                <li><a class="nav-link" href="#">Add/Edit Answers</a></li>
                <li><a class="nav-link" href="#">Student Wise Answers</a></li>
                <li><a class="nav-link" href="#">Ledger</a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center"
               href="#submenu20" data-bs-toggle="collapse" role="button" aria-expanded="false"
               aria-controls="submenu20">
                <span><img src="images/icons/Library icon.svg" alt="e-learning"> Library</span>
                <i class="fas fa-angle-left dropdown-icon"></i>
            </a>
            <ul class="collapse list-unstyled ps-3" id="submenu20">
                <li><a class="nav-link" href="#">Room</a></li>
                <li><a class="nav-link" href="#">Rack </a></li>
                <li><a class="nav-link" href="#">Book Type</a></li>
                <li><a class="nav-link" href="#">Book</a></li>
                <li><a class="nav-link" href="#">Manual Issue/Return</a></li>
                <li><a class="nav-link" href="#">Students/Staff</a></li>
                <li><a class="nav-link" href="#">Auto Issue/Return</a></li>
                <li><a class="nav-link" href="#">Reservation</a></li>
                <li><a class="nav-link" href="#">Bar Code</a></li>
                <li><a class="nav-link" href="#">Spine</a></li>
                <li><a class="nav-link" href="#">Import Book</a></li>
                <li><a class="nav-link" href="#">Update Book</a></li>
                <li><a class="nav-link" href="#">Download</a></li>
                <li><a class="nav-link" href="#">Setting</a></li>

                <li><a class="nav-link" href="#">Report</a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center"
               href="#submenu21" data-bs-toggle="collapse" role="button" aria-expanded="false"
               aria-controls="submenu21">
                <span><img src="images/icons/Lunch icon.svg" alt="e-learning"> Lunch</span>
                <i class="fas fa-angle-left dropdown-icon"></i>
            </a>
            <ul class="collapse list-unstyled ps-3" id="submenu21">
                <li><a class="nav-link" href="#">Lunch Report</a></li>
                <li><a class="nav-link" href="#">Lunch Form </a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center"
               href="#submenu22" data-bs-toggle="collapse" role="button" aria-expanded="false"
               aria-controls="submenu22">
                <span><img src="images/icons/Staff icon.svg" alt="e-learning"> Staff</span>
                <i class="fas fa-angle-left dropdown-icon"></i>
            </a>
            <ul class="collapse list-unstyled ps-3" id="submenu22">
                <li><a class="nav-link" href="#">Add/Edit</a></li>
                <li><a class="nav-link" href="#">List</a></li>
                <li><a class="nav-link" href="#">Print Data</a></li>
                <li><a class="nav-link" href="#">Staff Data</a></li>
                <li><a class="nav-link" href="#">Staff Qualification</a></li>
                <li><a class="nav-link" href="#">Staff Department</a></li>
                <li><a class="nav-link" href="#">Download Data</a></li>
                <li><a class="nav-link" href="#">Staff Leave Notes</a></li>
                <li><a class="nav-link" href="#">User Type</a></li>
                <li><a class="nav-link" href="#">Assign User Type</a></li>
                <li><a class="nav-link" href="#">Recruitment Report</a></li>
                <li><a class="nav-link" href="#">Vacany</a></li>
                <li>
                    <a class="nav-link" href="#">
                        Import Staffs
                    </a>
                </li>
                <li><a class="nav-link" href="#">ID Card Builder</a></li>
                <li><a class="nav-link" href="#">Profie Request</a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center"
               href="#submenu23" data-bs-toggle="collapse" role="button" aria-expanded="false"
               aria-controls="submenu23">
                <span><img src="images/icons/Gallery icon.svg" alt="e-learning"> Gallery</span>
                <i class="fas fa-angle-left dropdown-icon"></i>
            </a>
            <ul class="collapse list-unstyled ps-3" id="submenu23">
                <li><a class="nav-link" href="#">Albums</a></li>
                <li><a class="nav-link" href="#">Images</a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><img src="images/icons/Events icon.svg" alt="e-learning">Events</a>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center"
               href="#submenu24" data-bs-toggle="collapse" role="button" aria-expanded="false"
               aria-controls="submenu24">
                <span><img src="images/icons/Bogs icon.svg" alt="e-learning">Blog/Article</span>
                <i class="fas fa-angle-left dropdown-icon"></i>
            </a>
            <ul class="collapse list-unstyled ps-3" id="submenu24">
                <li><a class="nav-link" href="#">Add Blog Category</a></li>
                <li><a class="nav-link" href="#">Add Blog/Article</a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><img src="images/icons/Videos icon.svg" alt="e-learning">Videos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center"
               href="#submenu25" data-bs-toggle="collapse" role="button" aria-expanded="false"
               aria-controls="submenu25">
                <span><img src="images/icons/Downloads icon.svg" alt="e-learning"> Downloads</span>
                <i class="fas fa-angle-left dropdown-icon"></i>
            </a>
            <ul class="collapse list-unstyled ps-3" id="submenu25">
                <li><a class="nav-link" href="#">Category</a></li>
                <li><a class="nav-link" href="#">File</a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <img src="images/icons/GPS tracker icon.svg" alt="e-learning">GPS
                tracker
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <img src="images/icons/Change password icon.svg"
                     alt="e-learning">Change Password
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center"
               href="#submenu26" data-bs-toggle="collapse" role="button" aria-expanded="false"
               aria-controls="submenu26">
                <span>
                    <img src="images/icons/CAS icon.svg" alt="e-learning"> Logs <span class="new-btn-nav">
                        New
                    </span>
                </span>
                <i class="fas fa-angle-left dropdown-icon"></i>
            </a>
            <ul class="collapse list-unstyled ps-3" id="submenu26">
                <li><a class="nav-link" href="#">Activity Logs</a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center"
               href="#submenu27" data-bs-toggle="collapse" role="button" aria-expanded="false"
               aria-controls="submenu27">
                <span>
                    <img src="images/icons/tool icon.svg" alt="e-learning"> Tools <span class="new-btn-nav">
                        New
                    </span>
                </span>
                <i class="fas fa-angle-left dropdown-icon"></i>
            </a>
            <ul class="collapse list-unstyled ps-3" id="submenu27">
                <li><a class="nav-link" href="#">Widgets</a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><img src="images/icons/help icon.svg" alt="e-learning">Help</a>
        </li>

    </ul>
    </nav>